.results-item {
  position: relative;
  width: 100%;
  padding: 1em;
  border: 1px solid #cccccc8c;
  margin-top: 1em;
  margin-bottom: 1em;
}

.results-item__title{
  position: relative;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.8em;
}