.results {
  position: relative;
  padding: 1em;
  width: 100%;
  background-color: #ffffff5e;
}

.results__list {
  position: relative;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.results__title {
  position: relative;
  font-size: 1.2em;
  font-weight: normal;
}