html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}


body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #585858;
  background-color: #f5f5f5;
}

//Due to react requiring a div to load application
#root {
  position: relative;
  width: 100%;
  height: 100%;
}