//Temp solution look into alias
// @import "../../assets/styles/mixins/_all.scss";

.app {
  position: relative;
  padding-top:1px;
  padding-bottom:1px;
  width: 100%;
  height: 100%;
}


.app__header, .app__main {
  position: relative;
  width: 100%;
  max-width: 30em;
  margin-left: auto;
  margin-right:auto;
}