.search {
  position: relative;
  background-color: #fff;
  padding: 1em;
}
.search__group {
  position: relative;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.search__label {
  position: relative;
  display: block;
  font-size: 1.1em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.search__input {
  position: relative;
  font-size: 1em;
  padding: 0.5em;
  width: 100%;
}

.search__btn {
  position: relative;
  font-size: 1em;
  padding: 0.5em 1em;
  background-color: #d6d6d6;
  color: #000;
  border:1px solid #ccc;
  cursor: pointer;
}

.search__btn:disabled {
  opacity: 0.7;
  pointer-events: none;
}